<div class="form-small">
  <h1>Sign up</h1>

  <ul class="form-fields">
    <li>
      <mat-form-field class="full-width">
        <mat-label>First name</mat-label>
        <input [(ngModel)]="signUpData.firstName" matInput>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="full-width">
        <mat-label>Last name</mat-label>
        <input [(ngModel)]="signUpData.lastName" matInput>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input [(ngModel)]="signUpData.email" matInput>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="signUpData.password" matInput type="password">
      </mat-form-field>
    </li>
  </ul>

  <div class="button-bar">
    <button (click)="signUp()" color="primary" mat-raised-button>Sign up</button>
  </div>
</div>
