<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill" [ngStyle]="{'width.px': width}"
        style="height: 100%; padding-top: 10px;">
        <input #input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="autocomplete"
            [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option #option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>