## @formatter:off
{
    "data": {
#foreach( $map in $data )
        "entry": {
#foreach( $entry in $map.entrySet())
            "${entry.key}": "${entry.value}"#if($foreach.hasNext),#end

#end
        }#if($foreach.hasNext),#end

#end
    }
}
## @formatter:on