## @formatter:off
<?xml version="1.0" encoding="UTF-8"?>
<data>
#foreach( $map in $data )
    <entry>
#foreach( $entry in $map.entrySet())
        <${entry.key}>${entry.value}</${entry.key}>
#end
    </entry>
#end
</data>
## @formatter:on