.spacer {
    flex: 1;
}

/*.example-spacer {
    flex: 1 1 auto;
}

.menu-item {
    margin-left: 25px;
    margin-top: 4px;
}
.mat-toolbar.mat-primary {
    background-color: #222222;
}
.mat-flat-button {
    background-color: #222222;
    color: grey;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}

button:hover {
    background-color: black;
}
*/