<div class="form-small">
  <h1>Login</h1>

  <ul class="form-fields">
    <li>
      <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input [(ngModel)]="email" matInput type="email">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" matInput type="password">
      </mat-form-field>
    </li>
  </ul>

  <div class="button-bar">
    <button (click)="logIn()" color="primary" mat-raised-button>Log in</button>
    <button (click)="navigateSignUp()" mat-raised-button>Sign up</button>
  </div>

  <div class="button-bar">
    <button (click)="resetPassword()" mat-button>Reset password</button>
  </div>
</div>
