@use '../../theme.scss' as theme;
@use '@angular/material' as mat;


.full-width {
    width: 100%;
}

.button-bar {
    display: flex;
    margin: 1rem 0;
}

.suggestions {
    align-self: center;
    margin-left: 2rem;
}

.button-bar button + button {
    margin-left: 0.5rem;
}

.button-bar .spacer {
    flex: 1;
}


::ng-deep .ag-theme-material input[class^="ag-"][type="text"]:focus {
    border-bottom-color: mat.get-color-from-palette(theme.$my-app-primary) !important;
}