<mat-form-field class="full-width" *ngIf="isLoggedIn">
    <mat-label>Template name</mat-label>
    <input matInput [(ngModel)]="templateDto.name">
</mat-form-field>

<ag-grid-angular *ngIf="dataLoaded" class="ag-theme-material" [rowData]="rowData" [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs" [rowDragManaged]="true" [animateRows]="true" (gridReady)="onGridReady($event)"
    [domLayout]="'autoHeight'" [stopEditingWhenCellsLoseFocus]="true">
</ag-grid-angular>

<div class="button-bar" *ngIf="gridApi">
    <button mat-mini-fab color="primary" (click)="addRows()">
        <mat-icon>add</mat-icon>
    </button>

    <span class="suggestions">Suggested fields: </span>
    <button class="mat-button">Address</button>
    <button class="mat-button">Email address</button>

    <div class="spacer"></div>

    <button (click)="generate()" [disabled]="invalidRows" mat-raised-button color="primary">Generate</button>
    <button *ngIf="isLoggedIn" (click)="saveTemplate()" [disabled]="invalidRows || !templateDto.name" mat-raised-button
        color="primary">{{isTemplateOwner ? 'Save' : 'Save copy'}}</button>
</div>

<app-data-output [generatedData]="generatedData"></app-data-output>